body {
    background: skyblue;
    font-family: RnMfont;
}

@font-face {
    font-family: RnMfont;
    src: url(./rick_and_morty_by_shittychan-d9h2vl6.ttf);
}

#startscreen {
    display: inherit;
}

#mainscreen {
    display: none;
}

.setht {
    height: 400px;
}

#gameover {
    display: none;
    color: red;
}

#me6no1 {
    display: inherit;
}

#me6no2, #me6no3, #me6unsure, #me6wannadie, #me6chaos, #me6angry {
    display: none;
}