body {
    background: skyblue;
    font-family: RnMfont;
}

@font-face {
    font-family: RnMfont;
    src: url(./rick_and_morty_by_shittychan-d9h2vl6.ttf);
}

#startscreen {
    display: inherit;
}

#mainscreen {
    display: none;
}

#gameover {
    display: none;
    color: red;
}